.command__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.command__title {
  margin-bottom: 10px;

  font-weight: 500;
  color: var(--primary-text-color);
}

.command__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  box-shadow: var(--command-shadow);
  border-radius: 0px 0px 4px 4px;
}

.command__person {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--background-color);
}

.command {
  background-color: var(--buttons-bgc);
}

.command__paragraph,
.command__title {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.command__paragraph {
  margin-bottom: 16px;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social__link {
  color: var(--icons-color);

  transition: color var(--animation-time) var(--timing-function),
    background-color var(--animation-time) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
  }
}

.social__item:not(:last-child) {
  margin-right: 10px;
}
